<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html;charset=utf-8">
		{% load staticfiles %}
                <link rel="shortcut icon" href="{%static "images/favicon.ico"%}">
                <link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css"%}">
                
		<script src="{% static "dist/jquery-2.1.1.min.js" %}"></script>
		<script src="{%static "dist/js/bootstrap.min.js"%}"></script>
		<title>{%block title%}{%endblock%}</title>
                {#%load bootstrap3 %#}
                {#% load staticfiles %#}
                {#%bootstrap_css%#}
                {#%bootstrap_javascript%#}
	</head>
	<body>
		{%include "header.html" %}
		{%block middle%}
		{%endblock%}
		{%block footer%}
		{%endblock%}
	</body>
</html>
