<!DOCTYPE HTML>
<html>
<head>
	<link href="dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="dist/jquery-2.1.1.min.js"></script>
	<script src="dist/js/bootstrap.min.js"></script>
	<link rel="shortcut icon" href="../images/favicon.ico">
	<title>test of bootsrtap</title>
<head>
<body>
	
	<div class="container-fluid">
	
	<div class="row">
		<div class="col-lg-offset-2 col-lg-4">
			<h1>Big Work Name</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-lg-offset-3 col-lg-8" id="">
			
			<div class="container">
				<div class="col-lg-3">
					<h4>Avilable Names:</h4>
				</div>
				<div class="col-lg-4">
					<ol>
						<li>zhi hui ke tang</li>
						<li>che zai wang luo</li>
						<li>3D Map</li>
						<li>What's App</li>
					</ol>
				</div>
			</div>
		</div>
	</div>		
	<div class="row">
		<div class="col-lg-8 col-lg-offset-3">
			<h4>Group Information</h4>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Group Number</th>
						<th>Question Number</th>
						<th>Members</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>zhi hui ke tang</td>
						<td> chen yang,li zheng tang</td>
					</tr>
					<tr>
						<td>2</td>
						<td>che zai wang luo</td>
						<td>duan yi chun</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
	
	
	<!--class test part-->
<div class="container-fluid">
	<div	class="row">
		<div class="col-lg-3 col-lg-offset-2">
			<h1>Test Name</h1>	
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-2">
			<h4>Content</h4>
			<pre></pre>
		</div>
		<div class="col-lg-6">
			<table class="table table-bordered" id="testtable">
				<thead>
					<tr>
						<th>QNumber</th>
						<th>Answer</th>
						<th>Number</th>
						<th>Accuracy</th>
					</tr>	
				</thead>	
				<tbody>
					<tr>
						<td>1</td>
						<td>A</td>
						<td>15</td>
						<td>45%</td>
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
</div>
	
	<!--Course part-->
<div class="container-fluid">
	<div class="col-lg-8 col-lg-offset-2"	>
			<div class="container" id="baseinfo">
				<div class="row">
					<h1>Course Name</h1>
				</div>
				<br/>
				<div class="row">
					<div class="col-lg-4 col-lg-offset-1">
							<p>Teacher Name:</p><br/>
							<p>Student Number:</p>
					</div>
					<div class="col-lg-4">
							<button type="button" class="btn btn-primary">Create Test</button>
							<br/><br/>
							<button type="button" class="btn btn-primary">Create Work</button>
					</div>
				</div>	
			</div><!--./baseinfo-->
			<br/>
			<br/>
			<div class="container" id="courseinfo">
				<div class="col-lg-9">
					<table class="table table-bordered" id="courses">
						<thead>
							<tr>
								<th>TestName</th>
								<th>Date</th>
								<th>JoinNumber</th>
								<th>accuracy</th>
								<th>Files</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>TCP/IP</td>	
								<td>2014-12-12</td>
								<td>30</td>
								<td>69%</td>
								<td>None</td>
							</tr>
						</tbody>
					</table>	
				</div>
			</div><!--end of course-info-->
			<br/>
			<br/>
			<div class="container" id="bigwork">
				<div class="col-lg-9">
					<table class="table table-bordered" id="works">
						<thead>
							<tr>
								<th>WorkName</th>
								<th>Number Q</th>
								<th>Goup?</th>
								<th>NumberGroups</th>
								<th>DueDate</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Network </td>	
								<td>4</td>
								<td>Yes</td>
								<td>2</td>
								<td>2014-12-25</td>
							</tr>
						</tbody>
					</table>	
				</div>
			</div><!--end of bigwork-->
			
	</div>
</div>
	
	
	<!---header part-->
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-4 col-lg-offset-4">
						<a class="navbar-brand" href="#">
									ÖÇ»Û¿ÎÌÃÖúÊÖ
						</a>
					</div>
					<div  class="col-lg-4 ">
						<ul class="nav navbar-nav">
							<li class="active"><a href="#" ><span class="glyphicon glyphicon-user"></span>×¢²á</a></li>
							<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>µÇÂ½</a></li>
							<li ><a href="#"><span class="glyphicon glyphicon-log-out"></span>ÍË³ö</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<!--home part-->
<div class="container">
	<div >
		<br/>
		<br/>
		</div>
	<div class="row">
		<div class="col-lg-4 col-lg-offset-3">
			<h3>Personal Inform</h3>
			
				<label >UserName:</label><br/><br/>	
				<label>RealName:</label><br/><br/>
			
			<button type="button" class="btn btn-default" id="createClass" data-toggle="modal" data-target="#createModal" >CreateClass</button>
			<button class="btn btn-primary" id="revise">Revise Inform</button>
			
		</div>
		<div class=" col-lg-5">
			<br/>
			<br/>
			<table class="table table-bordered">
				<thread>
					<tr>
						<th>Course</th>	
						<th>Students</th>
						<th>Number of Work</th>
					</tr>
				</thread>
					<tbody>
					<tr>
						<td>Network</td>
						<td>30</td>
						<td>3</td>	
					</tr>
					<tr>
						<td>Information</td>	
						<td>100</td>
						<td>2</td>
					</tr>
				</tbody>
			</table>	
		</div>
	</div>
</div>




	<!-- this is the register part-->
	<div class="container" >
    	<div class="col-lg-4 col-lg-offset-2" id="register_img">
    	<img src="../images/1.jpg" class="img-rounded" alt="Cinque Terre" width=300 height=300>
    	</div>
    	<div class="col-lg-6" id="register_form">
    		<form role="form" class="form-horizontal" action="" method="POST">
    			<div class="form-group">
    				<label for="username" class="label-control col-lg-3">UserName :</label>
    				<div class=" col-lg-5">
    					<input type="text" class="form-control col-lg-4" id="username">
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="pwd" class="label-control col-lg-3">Password:</label>
    				<div class=" col-lg-5">
    					<input type="password" class="form-control col-lg-5" id="password">
    				</div>
    			</div>
    			<div class="form-group">
    				<label for="repwd" class="label-control col-lg-3">Retype Password:</label>
    				<div class="col-lg-5">
    					<input type="password" class="form-control col-lg-5" id="retypepwd">
    				</div>
    			</div>
    			<div class="form-group">
    				<button class="btn btn-primary col-lg-offset-4" type="submit">Submit</button>
    				<button class="btn btn-default" type="reset">Reset</button>
    			</div>
    		</form>
    	</div>
    </div>
    <!--end of register part-->
    
    
    <!--Create Class Modal-->
			<div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<h4 class="modal-title" id="createModalLabel">Create Class</h4>
						</div><!--end of modal header-->
						<div class="modal-body">
							<form role="form-horizontal" method="POST" action="#">
								<div class=	"form-group">
									<label for="course-name" class="control-label">CourseName:</label>
									<input type="text" class="form-control" id="course-name">
								</div>
								<div class="form-group">
									<label for="student-number" class="control-label">Max Number:</label>	
									<input type="text" class="form-control" id="max-number">
								</div>
								<div class="form-group">
									<button class="btn btn-primary" type="submit">Submit</button>
								</div>
							</form>	
						</div><!--end of modal body-->
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>	
						</div><!--end of footer-->
					</div><!--end of content-->
				</div><!--end of dialog-->	
			</div><!---end of modal-->
</body>
</html>